/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * -----------------------------------------------------
*/

@import "./colors.css";


/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
	font-family: "Symbols Nerd Font Mono", "SauceCodePro Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0px;
}

window#waybar {
    background: transparent;
}

.modules-left {
  margin: 5px 0px 8px 8px;
}

.modules-right {
  margin: 5px 8px 8px 0px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces button {
	font-size: 16px;
	padding: 0px 8px;
	margin: 3px 3px 3px 0px;
	border-radius: 8px;
	color: @on_background;
	background-color: @background;
	transition: all 0.3s ease-in-out;
	border: 2px solid @primary;
}

#workspaces button.active {
	color: @on_primary;
	background: @primary;
	border-radius: 12px;
	transition: all 0.3s ease-in-out;
	border-color: @primary;
	min-width: 30px;
}

#workspaces button:hover {
	color: @on_primary_container;
	background: @primary_container;
	border-radius: 15px;
	border-color: @primary;
	box-shadow: none;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
	border-radius: 8px;
	background-color: @primary_container;
}

tooltip label {
  color: @on_primary_container;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

/* -----------------------------------------------------
 * CPU
 * ----------------------------------------------------- */

#cpu {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

/* -----------------------------------------------------
 * Memory
 * ----------------------------------------------------- */

#memory {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

/* -----------------------------------------------------
 * Temperature
 * ----------------------------------------------------- */

#temperature {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

/* -----------------------------------------------------
 * Disk
 * ----------------------------------------------------- */

#disk {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

@keyframes blink {
	to {
		background-color: @on_primary;
		color: @on_background;
	}
}

#battery.warning:not(.charging) {
	background-color: @error;
	color: @on_error;
}

#battery.critical:not(.charging) {
	background-color: @error;
	color: @on_error;
	animation-name: blink;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
	transition: all 0.3s ease-out;    
}

#backlight:hover {
	color: @on_primary;
	background: @primary;
}

/* -----------------------------------------------------
 * WirePlumber
 * ----------------------------------------------------- */

#wireplumber {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
	padding-right:15px;
	transition: all 0.3s ease-out;    
}

#wireplumber:hover {
	color: @on_primary;
	background: @primary;
}

#wireplumber.muted {
	background-color: @primary_fixed;
	color: @on_primary_fixed;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
	transition: all 0.3s ease-out;    
}

#network:hover {
	color: @on_primary;
	background: @primary;
}

#network.disconnected {
	padding-right: 15px;
}

#network.disabled {
	padding-right: 15px;
}

/* -----------------------------------------------------
 * Language
 * ----------------------------------------------------- */

#language {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
}

#language:hover {
	color: @on_primary;
	background: @primary;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
	background-color: @primary_container;
	font-size: 16px;
	color: @on_primary_container;
	border-radius: 8px;
	padding: 0px 8px;
	transition: all 0.3s ease-out;    
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  padding: 0px 0px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

